<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings file="">
  <clear />
  <add key="ApiClient.ClientId" value="" />
  <add key="ApiClient.ClientSecret" value="" />
  <add key="ApiClient.RedirectUri" value="" />
  <add key="ApiClient.ListenUri" value="" />
  <add key="ApiClient.AccessToken" value="" />
  <add key="ApiClient.RefreshToken" value="" />
  <add key="ApiClient.ExpirationDateTime" value="" />
 </appSettings>
</configuration>
